NEXT_PUBLIC_DRUPAL_BASE_URL=https://backend.vactory.k8s.lapreprod.com
NEXT_PUBLIC_BASE_URL=https://vactory.k8s.lapreprod.com
NEXT_IMAGE_DOMAIN=backend.vactory.k8s.lapreprod.com
NEXTAUTH_URL=https://vactory.k8s.lapreprod.com
NEXTAUTH_SECRET=
JWT_SIGNING_PRIVATE_KEY=
SENTRY_DSN=
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=
NEXT_PUBLIC_RECAPTCHA_SITEKEY=
RECAPTCHA_SECRETKEY=
KEYCLOAK_ID=
KEYCLOAK_SECRET=
KEYCLOAK_ISSUER=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
CACHE_SECRET=4467543228